# Application settings
APP_NAME=FastAPI app
APP_DESCRIPTION=Local development environment

# PostgreSQL settings
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secret
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=mydatabase
# For alembic migrations
POSTGRES_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_SERVER}:${POSTGRES_PORT}/${POSTGRES_DB}

JWT_SECRET=secret
JWT_ALGORITHM=HS256
JWT_EXPIRATION=3600

DEBUG=True